extends layout

block content
    h1= title

    if (toShow == null)
        h2 No instance to update
    else
        - let Carid = toShow._id
        - let manufacturer = toShow.manufacturer
        - let price = toShow.price
        - let model = toShow.model


          div.row(class='CarAttr mb-2')
            div.mr-1 ID is
            div #{Carid}
        - let actionid = "/resource/cars/"+Carid
        form(id='CarForm', action= actionid, method="PUT")
          div.form-group
            label.CarAttr(for='manufacturer') Car Name
            input#manufacturer(type='text' name='manufacturer', value= manufacturer )
          div.form-group
            label.CarAttr(for='price') Car price
            input#price(type='number' name='price', value= price )
          div.form-group
            label.CarAttr(for='model') Car model
            input#model(type='text' name='model', value= model )
          input(type="submit")
        script.
          document.forms['CarForm'].addEventListener('submit', (event) => {
            event.preventDefault();
                // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
             method: 'PUT',
             body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
             return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
             alert("Update succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
             alert("Update failed " + error )
            });
          });